<!DOCTYPE html>
<html lang="en">

{{ template "Header" }}

<body>

    Голосование

    {{ .title }}

    <!--
    []Users{
        {Name: "Adam", Phone: "099911111", Age: 23},
        {Name: "Brown", Phone: "0933222222", Age: 22},
        {Name: "Cayla", Phone: "0933333333", Age: 18},
    }
    -->
    {{ range .Users }}
        {{ . }}
    {{ end }}

    {{ range .userdata }}
        Name: {{ .Name }},
        Phone: {{ .Phone }},
        Age: {{ .Age }}
    {{ end }}

    {{if .IsAttachment}}
    1
    {{else if .IsMenu}}
    2
    {{end}}

    <script src="./static/main.js"></script>
</body>

</html>
