<!DOCTYPE html>
<html lang="ru">

{{ template "Header" }}

<body>

    История голосований<br>

    {{with $obj := .}}

        {{range $i, $voting := .History}}
            {{if eq $voting.Date $obj.Date}}
                <a href="/">{{$obj.Date}}</a> - Текущее голосование<br>
            {{else}}
                {{if eq $voting.Name ""}}
                    {{$voting.Date}} - Победитель: удалён
                {{else}}
                    <a href="/history/{{$voting.Date}}">{{$voting.Date}}</a> - Победитель: <a href="{{$voting.Url}}">{{$voting.Name}}</a><br>
                {{end}}
            {{end}}
        {{else}}
            Голосований не проводилось.
        {{end}}

    {{end}}

</body>

</html>
