<!DOCTYPE html>
<html lang="ru">

{{ template "Header" }}

<body>

    <script>
        let obj = {
            votes: [
                {{range .Votes}}
                {
                    song_id: {{.Song_id}},
                    votes: {{.Votes | arr_int_len}},
                    name: {{.Name}},
                    url: {{.Url}},
                },
                {{end}}
            ],
            date: "{{.Date}}",
            winner: {{.Winner}},
            user_choice: {{.User_choice}},
            user_id: {{.User_id}},
            user_student: {{.User_student}},
        }
    </script>

    <script src="./static/2.js"></script>

</body>

</html>
